{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">

    <div class="col-md-5">

        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded shadow">
        {% else %}
            <img src="https://placehold.co/500x400" class="img-fluid rounded shadow">
        {% endif %}

    </div>

    <div class="col-md-7">

        <h2>{{ product.name }}</h2>

        <h3 class="text-primary mt-3">
            Rs. {{ product.price }}
        </h3>

        <p class="mt-4">
            {{ product.description }}
        </p>

        <h5>
            Stock: {{ product.stock }}
        </h5>

        <button class="btn btn-success btn-lg mt-3">
            Add to Cart
        </button>

    </div>

</div>

{% endblock %}