{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">

    <div class="col-md-5">

        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded shadow">
        {% else %}
            <img src="https://placehold.co/500x400" class="img-fluid rounded shadow">
        {% endif %}

    </div>

    <div class="col-md-7">

        <h2>{{ product.name }}</h2>

        <h3 class="text-primary mt-3">
            Rs. {{ product.price }}
        </h3>

        <p class="mt-4">
            {{ product.description }}
        </p>

        <h5>
            Stock: {{ product.stock }}
        </h5>

        <button class="btn btn-success btn-lg mt-3">
          {% if user.is_authenticated %}

<a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-lg">
    <i class="bi bi-cart-plus"></i> Add to Cart
</a>

{% else %}

<a href="{% url 'login' %}" class="btn btn-primary btn-lg">
    <i class="bi bi-box-arrow-in-right"></i> Login to Add to Cart
</a>

{% endif %}
        </button>

    </div>

</div>

{% endblock %}